
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>买车-<{$setting.title}></title>
		<meta content="<{$setting.keywords}>" name="keywords" />
		<meta content="<{$setting.description}>" name="description" />
		<link href="<{$weburl}>/skin/css/car.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="<{$weburl}>/static/js/jquery.js"></script>
		<script language="JavaScript">
			$(function() {
				//品牌选择
				$("#brand").change(function(){
					$.get("<{$weburl}>/?m=ajax&ajax=1", { 
						bid :  $("#brand").val() 
					}, function (data, textStatus){
						   $("#subbrand").html(data); // 把返回的数据添加到页面上
						}
					);
				});

				$("div.car_tab ul li a").mouseover(function() {
					$(this).addClass("here").parent().siblings().children().removeClass("here");
					var index = $div_li.index(this);
					$("div.cartab_box > div").eq(index).show().siblings().hide();
				});
			})
		</script>
		</head>
	<body>
<!--内容--> 
<{include file="default/`$setting.templates`/head.html"}>
<div class="nav">您当前的位置：<a href="<{$weburl}>/">首页</a> <span>></span> <a href="<{$weburl}>/">买车</a></div>
<div class="main clearfix mt10">
		<div class="search_box mb15">
			<div class="condition">
				<span class="fl gray pl20">已选条件：</span>
				<ul class="condition_list fl">
					<{if $smarty.cookies.keywords<>''}><li><a href="<{$weburl}>/?m=search&k=" class="condition"><{$smarty.cookies.keywords}></a></li><{/if}>
					<{if $smarty.cookies.brand<> 0}><li><a href="<{$weburl}>/?m=search&c=b_0" class="condition"><{$cache.brandlist[$smarty.cookies.brand]}></a></li><{/if}>
					<{if $smarty.cookies.subbrand<> 0}><li><a href="<{$weburl}>/?m=search&sb=0" class="condition"><{$smarty.cookies.subbrandname}></a></li><{/if}>
					<{if $smarty.cookies.model<> 0}><li><a href="<{$weburl}>/?m=search&c=m_0" class="condition"><{$cache.modellist[$smarty.cookies.model]}></a></li><{/if}>
					<{if $smarty.cookies.price<>0}><li><a href="<{$weburl}>/?m=search&c=p_0" class="condition"><{$arr_price[$smarty.cookies.price]}></a></li><{/if}>
					<{if $smarty.cookies.age<> 0}><li><a href="<{$weburl}>/?m=search&c=a_0" class="condition"><{$arr_age[$smarty.cookies.age]}></a></li><{/if}>
					<{if $smarty.cookies.gas<> 0}><li><a href="<{$weburl}>/?m=search&c=g_0" class="condition"><{$arr_gas[$smarty.cookies.gas]}></a></li><{/if}>
				</ul>
				<span class="del"><a href="<{$weburl}>/?m=search&clear=1"><i class="i-del"></i>重置条件</a></span>
			</div>
			<ul class="search_list">
				<form method="get" action="<{$weburl}>/">
				<li>品&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;牌 <a href="<{$weburl}>/?m=search&c=b_0" <{if $smarty.cookies.brand==0}>class="here"<{/if}>>不限</a><{foreach from=$arr_brand key=skey item=brandlist}><a href="<{$weburl}>/?m=search&c=b_<{$skey}>" <{if $smarty.cookies.brand==$skey}>class="here"<{/if}>><{$brandlist}></a><{/foreach}>
				<select id="brand" name="c">
					<{$selectbrandsearch}>
				</select>
				<select id="subbrand" name="sb">
					<option value="">请选择车系</option>
				</select>
				<input type="hidden" name="m" value="search">
				<input type="submit" value="搜索" class="cbutton">
				</li>
				</form>
				<li>车&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型 <a href="<{$weburl}>/?m=search&c=m_0" <{if $smarty.cookies.model==0}>class="here"<{/if}>>不限</a><{foreach from=$cache.modellist key=skey item=modellist}><a href="<{$weburl}>/?m=search&c=m_<{$skey}>" <{if $smarty.cookies.model==$skey}>class="here"<{/if}>><{$modellist}></a><{/foreach}></li>
				<li>价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格 <a href="<{$weburl}>/?m=search&c=p_0"  <{if $smarty.cookies.price==0}>class="here"<{/if}>>不限</a><{foreach from=$arr_price key=skey item=pricelist}><a href="<{$weburl}>/?m=search&c=p_<{$skey}>" <{if $smarty.cookies.price==$skey}>class="here"<{/if}>><{$pricelist}></a><{/foreach}></li>
				<li>车&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄 <a href="<{$weburl}>/?m=search&c=a_0"  <{if $smarty.cookies.age==0}>class="here"<{/if}>>不限</a><{foreach from=$arr_age key=skey item=agellist}><a href="<{$weburl}>/?m=search&c=a_<{$skey}>" <{if $smarty.cookies.age==$skey}>class="here"<{/if}>><{$agellist}></a><{/foreach}></li>
				<li>排&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量 <a href="<{$weburl}>/?m=search&c=g_0"  <{if $smarty.cookies.gas==0}>class="here"<{/if}>>不限</a><{foreach from=$arr_gas key=skey item=gasllist}><a href="<{$weburl}>/?m=search&c=g_<{$skey}>" <{if $smarty.cookies.gas==$skey}>class="here"<{/if}>><{$gasllist}></a><{/foreach}></li>
			</ul>
		</div>
</div>
<div class="main clearfix">
	<div class="main_left">
		<div class="search_big_box">
			<div class="orderlist">
				<ul class="fl">
					<li><a href="<{$weburl}>/?m=search&order=<{if $smarty.cookies.order==1}>2<{elseif $smarty.cookies.order==2}>1<{else}>2<{/if}>" <{if $smarty.cookies.order==1}>class="or01"<{elseif $smarty.cookies.order==2}>class="or03"<{else}>class="or02"<{/if}>>时间</a></li>
					<li><a href="<{$weburl}>/?m=search&order=<{if $smarty.cookies.order==3}>4<{elseif $smarty.cookies.order==4}>3<{else}>3<{/if}>" <{if $smarty.cookies.order==3}>class="or01"<{elseif $smarty.cookies.order==4}>class="or03"<{else}>class="or02"<{/if}>>价格</a></li>
					<li><a href="<{$weburl}>/?m=search&order=<{if $smarty.cookies.order==5}>6<{elseif $smarty.cookies.order==6}>5<{else}>5<{/if}>" <{if $smarty.cookies.order==5}>class="or01"<{elseif $smarty.cookies.order==6}>class="or03"<{else}>class="or02"<{/if}>>里程</a></li>
					<li><a href="<{$weburl}>/?m=search&order=<{if $smarty.cookies.order==7}>8<{elseif $smarty.cookies.order==8}>7<{else}>7<{/if}>"  <{if $smarty.cookies.order==7}>class="or01"<{elseif $smarty.cookies.order==8}>class="or03"<{else}>class="or02"<{/if}>>车龄</a></li>
				</ul>
				<div class="showtype">
					<{if $smarty.cookies.showtype=="list"}>
					<span class="type01"><a href="<{$weburl}>/?m=search&showtype=list">列表</a></span>
					<{else}>
					<span class="type02"><a href="<{$weburl}>/?m=search&showtype=list">列表</a></span>
					<{/if}>
					<{if $smarty.cookies.showtype=="pic"}>
					<span class="type03"><a href="<{$weburl}>/?m=search&showtype=pic">网格</a></span>
					<{else}>
					<span class="type04"><a href="<{$weburl}>/?m=search&showtype=pic">网格</a></span>
					<{/if}>
				</div>
				<div class="page_num">
					<span>每页显示：</span>
					<span class="num"><a href="<{$weburl}>/?m=search&pagenum=20" <{if $smarty.cookies.pagenum==20}>class="fb orange01"<{/if}>>20</a></span>
					<span class="num"><a href="<{$weburl}>/?m=search&pagenum=40" <{if $smarty.cookies.pagenum==40}>class="fb orange01"<{/if}>>40</a></span>
					<span class="num"><a href="<{$weburl}>/?m=search&pagenum=80" <{if $smarty.cookies.pagenum==80}>class="fb orange01"<{/if}>>80</a></span>
				</div>
			</div>
			<div class="box">
				<{if $smarty.cookies.showtype=="pic"}>
				<ul class="bigcarlist clearfix">
					<{foreach from=$carslist key=skey item=cars_list}>
					<li <{if ($skey+1)%4<>0}>class="bbg"<{/if}>>
						<{if $cars_list.issell==1}>
						<div class="psoldout"><a href="<{$cars_list.p_url}>" target="_blank" title="<{$cars_list.p_shortname}>"><{if $cars_list.p_mainpic<>""}><img src="<{$weburl}><{$cars_list.p_mainpic}>" alt="<{$cars_list.p_shortname}>"/><{else}><img src="<{$weburl}>/static/img/car.jpg"/><{/if}></a>
						<p class="carname"><a href="<{$cars_list.p_url}>" target="_blank"><{$cars_list.p_shortname}></a></p>
						<p class="red"><span class="price">已售罄</span><span class="fr pt5 mt15"><{if $cars_list.test<>""}><em class="tag-yellow"><{$cars_list.test}></em><{else}> <{/if}></span></p>
						<p class="gray01 mt5"><span class="fr">里程：<{$cars_list.p_kilometre}>万公里</span>上牌:<{$cars_list.p_year}>年<{$cars_list.p_month}>月</p>
						</div>
						<{else}>
						<a href="<{$cars_list.p_url}>" target="_blank" title="<{$cars_list.p_shortname}>"><{if $cars_list.p_mainpic<>""}><img src="<{$weburl}><{$cars_list.p_mainpic}>" alt="<{$cars_list.p_shortname}>"/><{else}><img src="<{$weburl}>/static/img/car.jpg"/><{/if}></a>
						<p class="carname"><a href="<{$cars_list.p_url}>" target="_blank"><{$cars_list.p_shortname}></a></p>
						<p class="red"><span class="price"><{$cars_list.p_price}></span> <{if $cars_list.p_price<>"面议"}>万<{/if}><span class="fr pt5 mt15"><{if $cars_list.test<>""}><em class="tag-yellow"><{$cars_list.test}></em><{else}> <{/if}></span></p>
						<p class="gray01 mt5"><span class="fr">里程：<{$cars_list.p_kilometre}>万公里</span>上牌:<{$cars_list.p_year}>年<{$cars_list.p_month}>月</p>
						<{/if}>
					</li>
					<{/foreach}>
				</ul>
				<{else}>
				<{foreach from=$carslist key=skey item=cars_list}>
					<{if $cars_list.issell==1}>
					<div class="listcar clearfix soldout">
						<div class="img">
							<a href="<{$cars_list.p_url}>" target="_blank" title="<{$cars_list.p_allname}>"><{if $cars_list.p_mainpic<>""}><img src="<{$weburl}><{$cars_list.p_mainpic}>" alt="<{$cars_list.p_allname}>"/><{else}><img src="<{$weburl}>/static/img/car.jpg"/><{/if}></a>
						</div>
						<div class="word">
							<p class="clearfix"><span class="carname fl"><a href="<{$cars_list.p_url}>" target="_blank"><{$cars_list.p_allname}></a></span>&nbsp;  <span class="fr pt5"><{if $cars_list.test<>""}><em class="tag-yellow"><{$cars_list.test}></em><{else}> <{/if}></span></p>
							<p class="gray">
								<span class="orange01"><{$cars_list.p_year}>年<{$cars_list.p_month}>月</span> 上牌 &nbsp;&nbsp;/&nbsp;&nbsp;  
								<span class="orange01"><{$cars_list.p_kilometre}></span> 万公里 <{if $cars_list.p_emission<>''}>&nbsp;&nbsp;/ &nbsp;&nbsp;
								<{$cars_list.p_emission}> <{/if}>&nbsp;&nbsp;/&nbsp;&nbsp;
								<{if $cars_list.province<>''}><{$cars_list.province}><{/if}> <{if $cars_list.city<>''}><{$cars_list.city}><{/if}>
								信息编号：<{$cars_list.p_no}>
							</p>
							<p class="gray f14">车主说明：<{$cars_list.p_details}></p>
							<p class="gray f12"><{$cars_list.listtime}> 更新</p>
						</div>
						<div class="price">
							<span class="fb f30">已售罄</span>
						</div>
					</div>
					<{else}>
					<div class="listcar clearfix">
						<div class="img">
							<a href="<{$cars_list.p_url}>" target="_blank" title="<{$cars_list.p_allname}>"><{if $cars_list.p_mainpic<>""}><img src="<{$weburl}><{$cars_list.p_mainpic}>" alt="<{$cars_list.p_allname}>"/><{else}><img src="<{$weburl}>/static/img/car.jpg"/><{/if}></a>
						</div>
						<div class="word">
							<p class="clearfix"><span class="carname fl"><a href="<{$cars_list.p_url}>" target="_blank"><{$cars_list.p_allname}></a></span>&nbsp;   <span class="fr pt5"><{if $cars_list.test<>""}><em class="tag-yellow"><{$cars_list.test}></em><{else}> <{/if}></span></p>
							<p class="gray">
								<span class="orange01"><{$cars_list.p_year}>年<{$cars_list.p_month}>月</span> 上牌 &nbsp;&nbsp;/&nbsp;&nbsp;  
								<span class="orange01"><{$cars_list.p_kilometre}></span> 万公里 <{if $cars_list.p_emission<>''}>&nbsp;&nbsp;/ &nbsp;&nbsp;
								<{$cars_list.p_emission}> <{/if}>&nbsp;&nbsp;/&nbsp;&nbsp;
								<{if $cars_list.province<>''}><{$cars_list.province}><{/if}> <{if $cars_list.city<>''}><{$cars_list.city}><{/if}>
								信息编号：<{$cars_list.p_no}>
							</p>
							<p class="gray f14">车主说明：<{$cars_list.p_details}></p>
							<p class="gray f12"><{$cars_list.listtime}> 更新</p>
						</div>
						<div class="price">
							<span class="fb f30"><{$cars_list.p_price}></span> <{if $cars_list.p_price<>"面议"}>万<{/if}>
						</div>
					</div>
					<{/if}>
				<{/foreach}>
				<{/if}>
				<div class="page_list"><{$button_basic}></div>
			</div>
		</div>
	</div>
</div>
<{include file="default/`$setting.templates`/foot.html" }>
</body>
</html>