<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>我的工作</title>
<meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="../templates/jcdmin/css/style.css" />
<!--[if lt IE 9]>
<script src="../templates/jcdmin/js/html5.js"></script>
<![endif]-->
<script src="../templates/jcdmin/js/jquery.js"></script>
<script src="../templates/jcdmin/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script>
	(function($){
		$(window).load(function(){
			
			$("a[rel='load-content']").click(function(e){
				e.preventDefault();
				var url=$(this).attr("href");
				$.get(url,function(data){
					$(".content .mCSB_container").append(data); //load new content inside .mCSB_container
					//scroll-to appended content 
					$(".content").mCustomScrollbar("scrollTo","h2:last");
				});
			});
			
			$(".content").delegate("a[href='top']","click",function(e){
				e.preventDefault();
				$(".content").mCustomScrollbar("scrollTo",$(this).attr("href"));
			});
			
		});
	})(jQuery);
</script>
</head>
<body>
<!--header-->
<{include file="jcdmin/jcdheader.html"}>
<!--aside nav-->
<{include file="jcdmin/jcdmenu.html"}>

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
         <!--tabStyle-->
         <script>
     $(document).ready(function(){
		 //tab
		 $(".admin_tab li a").click(function(){
		  var liindex = $(".admin_tab li a").index(this);
		  $(this).addClass("active").parent().siblings().find("a").removeClass("active");
		  $(".admin_tab_cont").eq(liindex).fadeIn(150).siblings(".admin_tab_cont").hide();
		 });
		 });
         </script>
<section>
      <ul class="admin_tab">
       <li><a class="active">我的工作</a></li>
      </ul>
      <!--tabCont-->
      <div class="admin_tab_cont" style="display:block;">
      <!--左右分栏：左侧栏目-->
      <table class="table">
        <tr>
          <th>id</th>
          <th>姓名</th>
          <th>品牌</th>
          <th>类型</th>
          <th>检测时间</th>
          <th>检测</th>
        </tr>
          <{foreach from=$rs item=rs}>
          <tr>
              <td><{$rs.id}></td>
              <td><a href="wtai://wp/mc;<{$rs.mobile}>"><{$rs.name}></a></td>
              <td><{$rs.brand}></td>
              <td><{$rs.type}></td>
              <td><{$rs.create_time}></td>
              <td><{if $rs.is_jiance==1}><span style="color: green">已检测</span><{else}><a href="jcdmin_login.php?m=czxx&id=<{$rs.id}>" ><span style="color: red">未检测</span></a><{/if}></td>
          </tr>
          <{/foreach}>
      </table>
          <div class="listpage"><{$button_basic}><{$button_select}></div>
</div>
      <div class="admin_tab_cont">tabContent02，内容根据具体数据二次单独定义，公共样式单独调用</div>
      <div class="admin_tab_cont">可追加</div>
    </section>
 </div>
</section>
</body>
</html>
